@model IEnumerable<BussinessObject.Product>

@{
    ViewData["Title"] = "Home Page";
}

<section id="billboard" class="bg-light py-3">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-3 mb-2" data-aos="fade-up">Tennis Equipment Collection</h1>
            <div class="col-md-6 text-center mb-3" data-aos="fade-up" data-aos-delay="300">
                <p>Discover premium tennis equipment and accessories for players of all levels. From professional rackets to comfortable tennis shoes, we have everything you need to elevate your game.</p>
            </div>
        </div>
        <div class="row">
            <div class="swiper main-swiper py-2" data-aos="fade-up" data-aos-delay="600">
                <div class="swiper-wrapper d-flex border-animation-left">
                    @if (Model.Any())
                    {
                        @foreach (var product in Model.Take(6))
                        {
                            <div class="swiper-slide">
                                <div class="banner-item">
                                    <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                            @if (product.ProductImages.Any())
                                            {
                                                <img src="@product.ProductImages.First().ImageUrl" alt="@product.Name" class="img-fluid">
                                            }
                                            else
                                            {
                                                <img src="~/images/img@((product.Id % 7) + 1).jpg" alt="@product.Name" class="img-fluid">
                                            }
                                        </a>
                                    </div>
                                    <div class="banner-content py-4">
                                        <h5 class="element-title text-uppercase">
                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="item-anchor">@product.Name</a>
                                        </h5>
                                        <p>@(product.Description?.Length > 100 ? product.Description.Substring(0, 100) + "..." : product.Description)</p>
                                        <div class="btn-left">
                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <!-- Sample Slide 1 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img1.jpg" alt="Tennis Racket" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Premium Tennis Rackets</a>
                                    </h5>
                                    <p>Professional quality tennis rackets for all skill levels.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sample Slide 2 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img2.jpg" alt="Tennis Shoes" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Tennis Shoes Collection</a>
                                    </h5>
                                    <p>Comfortable and durable tennis shoes for maximum performance.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sample Slide 3 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img3.jpg" alt="Tennis Accessories" class="img-fluid" style="max-height: 400px; object-fit: cover; width: 100%;">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Tennis Accessories</a>
                                    </h5>
                                    <p>Complete your tennis kit with our premium accessories.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sample Slide 4 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img4.jpg" alt="Tennis Bags" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Tennis Bags</a>
                                    </h5>
                                    <p>Spacious and stylish bags to carry all your tennis gear.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sample Slide 5 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img5.jpg" alt="Tennis Apparel" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Tennis Apparel</a>
                                    </h5>
                                    <p>High-quality tennis clothing for comfort and style on court.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sample Slide 6 -->
                        <div class="swiper-slide">
                            <div class="banner-item">
                                <div class="image-holder image-zoom-effect overflow-hidden hero-image-container">
                                    <a href="#">
                                        <img src="~/images/img6.jpg" alt="Tennis Balls" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">Premium Tennis Balls</a>
                                    </h5>
                                    <p>Professional grade tennis balls for consistent play.</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
                    <p>Schedule a consultation with our tennis experts for personalized equipment recommendations.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
                    <p>Visit our physical store to try equipment before you buy.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Special packaging</h4>
                    <p>Professional packaging for all your tennis equipment needs.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Free global returns</h4>
                    <p>Easy returns and exchanges on all tennis equipment.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories overflow-hidden">
    <div class="container">
        <div class="open-up" data-aos="zoom-out">
            <div class="row">
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a asp-controller="Product" asp-action="Index">
                                <img src="~/images/cat-item1.jpg" alt="Tennis Rackets" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-common text-uppercase">Shop Tennis Rackets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a asp-controller="Product" asp-action="Index">
                                <img src="~/images/cat-item2.jpg" alt="Tennis Shoes" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-common text-uppercase">Shop Tennis Shoes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a asp-controller="Product" asp-action="Index">
                                <img src="~/images/cat-item3.jpg" alt="Tennis Accessories" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-common text-uppercase">Shop Accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Our Featured Products</h4>
            <a asp-controller="Product" asp-action="Index" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">
                @if (Model.Any())
                {
                    @foreach (var product in Model.Take(8))
                    {
                        <div class="swiper-slide">
                            <div class="product-item link-effect">
                                <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                        @if (product.ProductImages.Any())
                                        {
                                            <img src="@product.ProductImages.First().ImageUrl" alt="@product.Name" class="product-image img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/images/img@((product.Id % 7) + 1).jpg" alt="@product.Name" class="product-image img-fluid">
                                        }
                                    </a>
                                </div>
                                <div class="product-content mt-3">
                                    <h5 class="element-title text-uppercase fs-5">
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$@product.BasePrice.ToString("F2")</span></a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <!-- Sample Product 1 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img1.jpg" alt="Tennis Racket" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Professional Tennis Racket</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$199.00</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 2 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img2.jpg" alt="Tennis Shoes" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Tennis Court Shoes</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$149.00</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 3 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img3.jpg" alt="Tennis Bag" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Tennis Bag Pro</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$89.00</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 4 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img4.jpg" alt="Tennis Balls" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Premium Tennis Balls</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$24.99</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 5 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img5.jpg" alt="Tennis Apparel" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Tennis Polo Shirt</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$59.00</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 6 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img6.jpg" alt="Tennis Grip" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Pro Grip Overgrip</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$12.99</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 7 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img7.jpg" alt="Tennis Strings" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Professional Strings</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$34.99</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sample Product 8 -->
                    <div class="swiper-slide">
                        <div class="product-item link-effect">
                            <div class="image-holder position-relative image-zoom-effect overflow-hidden">
                                <a href="#">
                                    <img src="~/images/img1.jpg" alt="Tennis Cap" class="product-image img-fluid">
                                </a>
                            </div>
                            <div class="product-content mt-3">
                                <h5 class="element-title text-uppercase fs-5">
                                    <a href="#">Tennis Sport Cap</a>
                                </h5>
                                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$29.99</span></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
</div>
</section>



<section class="blog py-5">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Tennis Blog</h4>
            <a href="#" class="btn-link">View All Posts</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="post-item">
                    <div class="post-image">
                        <a href="#">
                            <img src="~/images/img4.jpg" alt="Tennis Tips" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Tennis Tips /</span>
                            <span class="meta-day"> Jan 15, 2025</span>
                        </div>
                        <h5 class="post-title text-uppercase">
                            <a href="#">How to Choose the Perfect Tennis Racket</a>
                        </h5>
                        <p>Learn the essential factors to consider when selecting your ideal tennis racket for maximum performance on the court.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item">
                    <div class="post-image">
                        <a href="#">
                            <img src="~/images/img5.jpg" alt="Tennis Training" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Training /</span>
                            <span class="meta-day"> Jan 10, 2025</span>
                        </div>
                        <h5 class="post-title text-uppercase">
                            <a href="#">Top 10 Tennis Training Exercises</a>
                        </h5>
                        <p>Discover the most effective training exercises to improve your tennis game and build strength and endurance.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item">
                    <div class="post-image">
                        <a href="#">
                            <img src="~/images/img6.jpg" alt="Tennis Equipment" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Equipment /</span>
                            <span class="meta-day"> Jan 5, 2025</span>
                        </div>
                        <h5 class="post-title text-uppercase">
                            <a href="#">Essential Tennis Equipment for Beginners</a>
                        </h5>
                        <p>Everything you need to get started in tennis, from rackets to shoes and accessories for new players.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>